<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<head>
    <style>
        #img_tag {
            display: block;
            overflow: hidden;
        
            background-color: red;
            /* width: 800px; */
            /* height: 295px; */

        }
    </style>
    <script>

        window.addEventListener("click", ()=>{
            document.getElementById("img_tag").src = "/public/test1.jpg"
        })

        function set_size_img(img_tag){
            if(img_tag.naturalWidth/ img_tag.naturalHeight > 2.16 ){
                img_tag.style.width = "800px"
                img_tag.style.height = ''
            }
            else{
                img_tag.style.width = ""
                img_tag.style.height = '295px'
            }
        }
    </script>
</head>
<body>
    <div>
        <img src="/public/test.jpg" alt="" id="img_tag" onload="set_size_img(this)">
    </div>
</body>
</html>