<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<head>
    <style>
        #img_tag {
            display: block;
            overflow: hidden;
            max-width: 800px;
            background-color: red;
            width: 800px;
            

        }
    </style>
    <script>

        window.addEventListener("click", ()=>{
            document.getElementById("img_tag").src = "/public/Raw.png"
        })
    </script>
</head>
<body>
    <div>
        <img src="/public/File_20220619-153507.jpg" alt="" id="img_tag">
    </div>
</body>
</html>